**/*.log
**/*.md
**/*.php~
**/*.dist.php
**/*.dist
**/*.cache
**/._*
**/.dockerignore
**/.DS_Store
**/.gitattributes
**/.gitignore
**/.gitmodules
**/Dockerfile
**/Thumbs.db
fixtures/
public/bundles/
tests/
var/
vendor/
.env.*.local
.env.local
.env.local.php
.env.test
grumphp.yml
